@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #5b506b;
        --bgColor: 47, 40, 45;
        --textColor: 247, 246, 244;
        --secondary: #a7745b;
        --info: #2f282d;
        --success: #519358;
        --warning: #ce8220;
        --error: #f44336;
    }
}
